@font-face {
	font-family: 'Redrum';
	src: url('/Redrum.otf') format('opentype');
}

@font-face {
	font-family: 'Lincoln Road Deco';
	src: url('/Lincoln-Road-Deco.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lincoln Road';
	src: url('/Lincoln-Road-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.interface {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

.interface::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	width: 200%;
	height: 200%;
	opacity: 0.1;
	z-index: 1;
	pointer-events: none;
}

.skull-hotel-logo {
	min-width: 18rem;
	height: 18rem;
	display: block;
	color: #8b0000;
}

@media (max-height: 500px) {
	.skull-hotel-logo {
		min-width: 12rem;
		height: 12rem !important;
	}
}

.dialogue-container {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.dialogue-popup {
	position: absolute;
	background: rgba(8, 8, 7, 0.9);
	font-size: 1.25rem;
	/* color: #ffffff; */
	color: #efd89b;
	font-family: 'Lincoln Road', serif;
	border-radius: 0.5rem;
	padding: 0 2rem;
	width: auto;
	max-width: 80%;
	text-align: center;
	transition: transform 0.5s ease, opacity 0.25s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* cursor */

.cursor-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
}

.cursor-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cursor-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
}
.cursor-icon-clean {
	width: 1.25rem;
	height: 1.25rem;
}

.cursor-icon-power {
	width: 1.5rem;
	height: 1.5rem;
}

.cursor-icon-book {
	width: 1.5rem;
	height: 1.5rem;
}

.progress-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 9998;
	width: 5rem !important;
	height: 5rem !important;
}

.progress-circle-bg {
	stroke: rgba(255, 255, 255, 0.1);
	transform: rotate(-90deg);
	transform-origin: center;
	stroke-width: 4;
}

.progress-circle-fg {
	stroke: rgba(255, 255, 255, 0.4);
	transform: rotate(-90deg);
	transform-origin: center;
	stroke-width: 4;
}

.simple-cursor {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 0.2rem solid rgba(255, 255, 255, 0.4);
	z-index: 9999;
}

.custom-cursor.interactive {
	background-repeat: no-repeat;
	width: 2rem;
	height: 2rem;
}

.cursor-container svg:not(.progress-circle) {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
	z-index: 9999;
}

.cursor-container svg path {
	fill: rgba(255, 255, 255, 0.4);
}

.help-cursor {
	& > path:first-child {
		fill: none;
	}
}

.objectives {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-end;
}

.objectives-count {
	margin-right: 0.5rem;
}

.objectives li {
	font-family: 'Lincoln Road', serif;
	font-size: 1.5rem;
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.objectives li.completed {
	text-decoration: line-through;
	opacity: 0.6;
}

.objectives-title {
	font-family: 'Lincoln Road Deco', serif;
	font-size: 2rem;
	color: #efd89b;
}

.objectives-flex {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.end-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(8, 8, 7, 0.98);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: fadeIn 1s ease-in-out;
	z-index: 10000;
	pointer-events: auto;
	cursor: auto;
	gap: 1rem;
}

.end-screen > svg {
	width: 40dvw;
	height: 40dvh;
}

.end-screen > svg > path {
	fill: #efd89b;
}

.end-message {
	color: #efd89b;
	font-size: 2rem;
	text-align: center;
	font-family: 'Lincoln Road Deco', serif;
	letter-spacing: 1px;
	font-weight: 400;
}

.end-screen-button {
	width: calc(10dvw - 2px);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid #777d90;
	border-radius: 0.5rem;
	cursor: pointer;
	color: #777d90;
	padding: 0.5rem;
	font-family: 'Lincoln Road', serif;
}

.end-screen-button:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.ready {
	cursor: pointer;
}

@keyframes noise {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -5%);
	}
	20% {
		transform: translate(-10%, 5%);
	}
	30% {
		transform: translate(5%, -10%);
	}
	40% {
		transform: translate(-5%, 15%);
	}
	50% {
		transform: translate(-10%, 5%);
	}
	60% {
		transform: translate(15%, 0);
	}
	70% {
		transform: translate(0, 10%);
	}
	80% {
		transform: translate(-15%, 0);
	}
	90% {
		transform: translate(10%, 5%);
	}
	100% {
		transform: translate(5%, 0);
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.full-screen-button {
	background: transparent;
	border: 1px solid #777d90;
	color: #777d90;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	cursor: pointer;
	font-family: 'Lincoln Road', serif;
}

.full-screen-button:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

.full-screen-button svg {
	width: 1.25rem;
	height: 1.25rem;
}

.full-screen-button svg path {
	fill: #777d90;
}

.full-screen-button:hover svg path {
	fill: #ffffff;
}

/* JOYSTICK */

.joystick {
	position: absolute;
	width: 100px;
	height: 100px;
	bottom: 20px;
}

.joystick.left {
	left: 10%;
}

.joystick.right {
	right: 10%;
}

.joystick-base {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.joystick-handle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.4);
	position: relative;
}

/* MOBILE */

.mobile-interface {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
}

.mobile-buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 10px;
	bottom: 140px;
	width: 100px;
}

.mobile-buttons.left {
	left: 10%;
}

.mobile-buttons.right {
	right: 10%;
}

.mobile-button {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 0.5rem;
	background-color: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	line-height: 20px;
	font-family: 'Lincoln Road', serif;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(255, 255, 255, 0.8);
}

.mobile-button svg {
	width: 20px;
	height: 20px;
}

.mobile-button svg path {
	fill: rgba(255, 255, 255, 0.8);
}

.mobile-button:active,
.mobile-button.active {
	background-color: rgba(255, 255, 255, 0.4);
}

.fade-to-black {
	position: fixed;
	top: 0;
	left: 0;
	width: '100%';
	height: '100%';
	background-color: black;
	z-index: 1000;
	pointer-events: none;
}

.fade-to-black[style*='visible'] {
	transition: opacity 3s ease-out, visibility 0s;
}

.guestbook-container,
.howitsmade-container {
	z-index: 10;
}

.animated-objective-text {
	display: flex;
	align-items: center;
	min-height: 3rem;
}

.animated-objective-text .text-container {
	margin-left: 10px;
	position: relative;
	display: inline-block;
	min-height: 20px;
}

.animated-objective-text .text-content {
	left: 0;
	top: 0;
	opacity: 1;
	white-space: nowrap;
	color: #efd89b;
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated-objective-text .text-content.old {
	position: relative;
	text-decoration-color: #efd89b;
	text-decoration-thickness: 2px;
}

.animated-objective-text .text-content.old.strikethrough {
	text-decoration: line-through;
	opacity: 0.7;
	transform: none;
	transition: text-decoration 0.3s ease, opacity 0.5s ease 0.4s;
}

.animated-objective-text .text-content.old.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;
}
